################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Raytracing/.vs/Raytracing
/Raytracing/x64
