################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Raytracing/.vs/Raytracing
/Raytracing/x64
/Raytracing/Raytracing/x64

/DLSS/data
__pycache__
venv
.vscode
*.tar
